body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffffcc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #444;
  margin-top: 40px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4f8ef7;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #3a6fd8;
}

.result {
  margin-top: 20px;
}

#bmi-value {
  font-size: 2em;
  font-weight: bold;
  color: #222;
}

#bmi-category {
  font-size: 1.4em;
  color: #666;
  font-weight: 900;
}

 